{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<h1 class="text-center">FlashCards Project</h1>

<div class="container">
    {%for card in card%}
    <div class="col-md-4">
        <div class="card d-flex align-items-center justify-content-center {{card.id}}">
            <div id="term">
                {{card.id}}
                <h2>Title</h2>
                <h5>{{card.title}}</h5>
            </div>
            <div id="definition">
                <h2>Description</h2>
                <h5>{{card.description}}</h5>
            </div>
            <div>
                <p>By {{card.user.username}}</p>
                <p>{{card.category}}</p>
                <p>{{card.date}}</p>

            </div>
        </div>
    </div>
    {%endfor%}
    <div class="col-md-4">
        <div class="card d-flex align-items-center justify-content-center">
            <div id="term">
                <h2>Title</h2>
                <h5>Content</h5>
            </div>
            <div id="definition">
                <h2>Description</h2>
                <h5>Lorem ipsum dolor sit amet, consectetur adip Lorem ipsum dolor sit amet, consectetur adip ..</h5>
            </div>
            <div>
                <p>By Joy Luseno</p>
                <p>12th May 2017</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{block.super}}
<script type="text/javascript" src="{%static 'js/index.js'%}"></script>
{% endblock %}