{%extends 'base.html'%}\
{%block content%}
    <h1>FlashCards Project</h1>
    {%for flashcard in flashcards%}
    

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>{{flashcard.name}}</h2>
                    <div class="panel panel-primary">
                    <div class="panel-heading">{{flashcard.category}}</div>
                    <div class="panel-body">
                        <h3>{{flashcard.title}}</h3>
                        <p>{{flashcard.description}}</p>
                        <p>{{flashcard.user}}</p>
                    </div>
                    <div class="panel-footer">{{flashcard.date}}</div>
                    </div>
                </div>
            </div>        
          </div>

    {%endfor%}
{%endblock%}